div#container
{
   width: 1016px;
   position: relative;
   margin-top: 0px;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}

body
{
   text-align: center;
   margin: 0;
   background-color: #000000;
   color: #000000;
}


a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
p, span, div, ol, ul, li, input, textarea, form
{
   margin: 0;
   padding: 0;
}
ol, ul
{
   list-style-position:inside;
}


.ThemeMenuBar1Menu,
.ThemeMenuBar1SubMenuTable
{
   font-family: Arial;
   font-size: 20px;
   font-weight: bold;
   color: #FF0000;
   text-align: left;
   padding: 0;
   cursor: pointer;
}
.ThemeMenuBar1MenuOuter
{
   background-color: #6FA6DE;
   background: transparent;
   border: 0;
}
.ThemeMenuBar1SubMenu
{
   position: absolute;
   visibility: hidden;
   border: 0;
   padding: 0;
   border: 0;
}
.ThemeMenuBar1Menu td
{
   padding: 10px 0px 0px 0px;
}
.ThemeMenuBar1SubMenuTable
{
   color: #FFFAFA;
   text-align: left;
   background-color: #FF0000;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
}
.ThemeMenuBar1SubMenuTable td
{
   white-space: nowrap;
}
.ThemeMenuBar1MainItem,
.ThemeMenuBar1MainItemHover,
.ThemeMenuBar1MainItemActive,
.ThemeMenuBar1MenuItem,
.ThemeMenuBar1MenuItemHover,
.ThemeMenuBar1MenuItemActive
{
   white-space: nowrap;
}
.ThemeMenuBar1MainItemHover,
.ThemeMenuBar1MainItemActive
{
   color: #FF0000;
   background-color: #627080;
   background: transparent;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
}
.ThemeMenuBar1MenuItemHover,
.ThemeMenuBar1MenuItemActive
{
   color: #FFFAFA;
   background-color: #627080;
   background: transparent;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
}
.ThemeMenuBar1MenuFolderLeft,
.ThemeMenuBar1MenuFolderRight,
.ThemeMenuBar1MenuItemLeft,
.ThemeMenuBar1MenuItemRight
{
   padding: 10px 0px 0px 0px;
}
td.ThemeMenuBar1MainFolderText,
td.ThemeMenuBar1MainItemText
{
   padding: 10px 30px 0px 5px;
}
.ThemeMenuBar1MenuFolderText,
.ThemeMenuBar1MenuItemText
{
   padding: 3px 5px 3px 5px;
}
td.ThemeMenuBar1MenuSplit
{
   overflow: hidden;
   background-color: inherit;
}
div.ThemeMenuBar1MenuSplit
{
   height: 1px;
   margin: 0px 0px 0px 0px;
   overflow: hidden;
   background-color: inherit;
   border-top: 1px solid #FF0000;
}
.ThemeMenuBar1MenuVSplit
{
   display: block;
   width: 1px;
   margin: 0px 7px 0px 32px;
   overflow: hidden;
   background-color: inherit;
   border-right: 1px solid #FF0000;
}

#TextMenu3
{
   color: #FF0000;
   font-family: Arial;
   font-size: 17px;
   font-weight: bold;
   font-style: normal;
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   text-align: right;
}
#TextMenu3 a
{
   color: #FF0000;
   text-decoration: none;
}
#TextMenu3 a:hover
{
   color: #FF0000;
   text-decoration: none;
}


div#Bottom
{
   position:absolute;
   text-align:center;
   background-color:#FFFAFA;
   top:853px;
   width:100%;
   height:183px;
   z-index:5;
}

div#Bottom_Container
{
   width:1017px;
   position:relative;
   margin-left:auto;
   margin-right:auto;
   text-align:left;
}

div#Copyright
{
   position:absolute;
   left:722px;
   top:144px;
   width:230px;
   height:20px;
   text-align:left;
   overflow-y:hidden;
   background-color:transparent;
}


div#TopLayer
{
   position:absolute;
   text-align:center;
   background-color:#FFFAFA;
   width:100%;
   height:79px;
   z-index:6;
}


div#TopLayer_Container
{
   width:1017px;
   position:relative;
   margin-left:auto;
   margin-right:auto;
   text-align:left;
}

div#MenuBar1
{
   position:absolute;
   left:282px;
   top:33px;
   width:397px;
   height:34px;
   text-align:left;
   z-index:1001;
}

div#Twitter_Pic
{
   position:absolute;
   left:830px;
   top:45px;
   width:29px;
   height:29px;
   text-align:left;
   z-index:2;
}


div#FB_Pic
{
   position:absolute;
   left:870px;
   top:46px;
   width:29px;
   height:29px;
   text-align:left;
   z-index:3;
}


div#InstaPic
{
   position:absolute;
   left:910px;
   top:48px;
   width:26px;
   height:26px;
   text-align:left;
   z-index:4;
}


div#Twitter
{
   position:absolute;
   left:109px;
   top:979px;
   width:29px;
   height:29px;
   text-align:left;
   z-index:7;
}


div#Facebook
{
    position:absolute;
    left:149px;
    top:980px;
    width:29px;
    height:29px;
    text-align:left;
    z-index:8;
}

div#Instagram
{
    position:absolute;
    left:189px;
    top:982px;
    width:26px;
    height:26px;
    text-align:left;
    z-index:9;
}


div#VideosText
{
   position:absolute;
   left:379px;
   top:150px;
   width:285px;
   height:52px;
   text-align:left;
   z-index:10;
   overflow-y:hidden;
   background-color:transparent;
   font-family:Helvetica;
   font-size:15px;
   color:#000000;
}


div#TextMenu
{
   position:absolute;
   left:853px;
   top:882px;
   width:84px;
   height:97px;
   z-index:15;
}



















